# Minimal ignores for Node/JS project
node_modules/
dist/
.qflush/
.qflash/
.funesterie/
coverage/
*.log
spyder/.env
.env
.env.local
.vscode/
.idea/
.vs/
extensions/visual-studio-npz/NPZVsix/obj/
.DS_Store
Thumbs.db
*.tgz
