/* npz-pourparler checksum: aea9f64ca3cd99f4c2f3fdde183bc93188a8821249472fefe6acede58474bafd */
:root { --npz-pourparler-checksum: 'aea9f64ca3cd99f4c2f3fdde183bc93188a8821249472fefe6acede58474bafd'; }
