/* npz-pourparler checksum: a1aba24e6caa825085ab91dc56a96fcd03c78674e5585ff0190ecec9b0a33c75 */
:root { --npz-pourparler-checksum: 'a1aba24e6caa825085ab91dc56a96fcd03c78674e5585ff0190ecec9b0a33c75'; }
